.image-carousel {
  width: 966px;
  height: auto;
}
ul.nav-carousel {
  display: flex;
}
ul.nav-carousel li {
  width: 196px;
  height: auto;
}
.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border:0px solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}