.main-dashboard {

}

.dashboard {
    margin-bottom: 20px;
    margin-left: -20px;
    .inner {
        background: #fff;
        box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.08);
    }

    .header {
        padding: 0 34px;
        .inside {
            padding: 24px 0;
            border-bottom: 1px solid #C9C9C9;
        }
        .title {
            img,
            p {
                display: inline-block;
                vertical-align: top;
            }
            p {
                margin-top: 10px;
                margin-left: 12px;
                font-size: 24px;
                line-height: 28px;
            }
        }

        .remaining-hours {
            padding-top: 12px;
            text-align: right;
            p {
                text-transform: uppercase;
                font-size: 14px;
                span {
                    color: $red;
                    font-family: $heavy;
                }
            }
            .progress-ring__circle {
                transition: 0.35s stroke-dashoffset;
                // axis compensation
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
              }
        }
    }

    .the-details {
        padding: 20px 34px 30px 34px;
        ul {
            li {
                margin-bottom: 16px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                a {
                    color: #3D3D3D;
                    span {
                        position: relative;
                        top: 7px;
                        display: inline-block;
                        margin-right: 10px;
                    }
                    &:hover {
                        color: $red;
                        text-decoration: none;
                    }
                }
            }
        }
        .info,
        .cta {
            display: inline-block;
            vertical-align: top;
        }
        .info {
            max-width: 140px;
        }
        .cta {
            max-width: 232px;
            float: right;
            margin-top: 15px;
            a {
               @include ctaButton;
               padding: 14px 15px;
            }
        }
    }

    &.welcome {
        margin-bottom: 56px;
    }

    &.tasks,
    &.resources-widget {
        float: left;
        width: 66.3%;
    }
    &.e-learn {
      .title {
        margin: 30px 0 20px;
        p{
          font-size: 24px;
          line-height: 28px;
        }
      }
    }

    &.upcoming-events,
    &.membership,
    &.relationship-manager {
        float: left;
        width: 33.3%;
    }

    &.tasks {
        .the-details {
            ul {
                li {
                    position: relative;
                    padding-left: 35px;
                    line-height: 25px;
                    &:before {
                        content: '';
                        border: 1px solid #787878;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        position: absolute;
                        left: 4px;
                        top: 7px;
                    }
                    &.completed {
                        &:before {
                            content: '';
                            background: url('/wp-content/themes/and/assets/imgs/check.svg') no-repeat;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            border:none;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }

    &.tasks,
    &.upcoming-events {
        .cta {
            padding: 0 34px;
            .inside {
                padding: 24px 0;
                border-top: 1px solid #C9C9C9;
                a {
                    color: $red;
                    @include ctaButtonIcon;
                }
            }
        }
    }

    &.upcoming-events {
        .the-details {
            ul {
                li {
                    position: relative;
                    .image,
                    .event-info,
                    .arrow {
                        vertical-align: top;
                        display: inline-block;
                    }
                    .image {
                        margin-right: 10px;
                    }
                    .event-info {
                        padding-top: 6px;
                        p {
                            line-height: 24px;
                            span {
                                font-size: 16px;
                                color: #545454;
                            }
                        }
                    }
                    .arrow {
                        width: 35px;
                        height: 35px;
                        position: absolute;
                        border: 1px solid $red;
                        border-radius: 100%;
                        right: 0;
                        top: 5px;
                        span {
                            position: relative;
                            font-size: 21px;
                            top: 6px;
                            left: 6px;
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    &.membership {
        margin-top: -50px;
        .the-details {
            .info {
                max-width: 190px;
                p {
                    span {
                        color: $red;
                    }
                }
            }
            .cta {
                margin-top: 5px;
                a {
                    background: $red;
                }
            }
        }
    }
}


@media (max-width: 1200px) {

    .main-dashboard {
        display: inline-block;
        overflow: hidden;
    }
    .dashboard {

        .the-details {
            .info {
                max-width: 100%;
            }
            .cta {
                margin-top: 15px!important;
                max-width: 100%;
                float: none;
                display: block;
                text-align: center;
            }
        }

        &.upcoming-events,
        &.membership,
        &.relationship-manager {
            .container {
                padding-right: 0;
            }
        }

        &.upcoming-events {
            .the-details {
                ul {
                    li {
                        .event-info {
                            p {
                                font-size: 15px;
                                span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.membership {
            .the-details {
                .info {
                    max-width: 100%;
                }
            }
        }
    }

}


@media (min-width: 768px) and (max-width: 1120px) {

    .dashboard {

        &.resources-widget,
        &.tasks {
            width: 53%;
        }

        &.upcoming-events,
        &.membership,
        &.relationship-manager {
            width: 49%;
        }

    }

}


@media (min-width: 768px) and (max-width: 820px) {

    .dashboard {

        &.membership {
            margin-top: -140px;
        }

    }

}




@media (max-width: 767px) {

    .main-dashboard {
        display: flex;
        flex-direction: column;
    }
    .dashboard {

        .header {
            .title {
                p {
                    font-size: 20px;
                }
            }
        }

        &.welcome {
            margin-bottom: 5px;
            margin-top: 25px;
        }

        &.tasks,
        &.resources-widget,
        &.upcoming-events,
        &.membership,
        &.relationship-manager {
            width: 100%;
            display: block;
            float: none;
            margin: 20px 0px;
            .container {
                padding: 0;
            }
        }

        &.tasks {
            order: 1;
        }
        &.upcoming-events {
            order: 2;
        }
        &.membership {
            order: 3;
        }
        &.relationship-manager {
            order: 4;
        }
        &.resources-widget {
            order: 5;
        }

    }

}
