#PP_EVENT_IMPORT_PAGE {
  font-family: Arial, Helvetica, sans-serif;

  > h2 {
    background: white;
    margin: 0;
    padding: 1em 0;
    box-shadow: -100px 0 0 0 #FFF;
  }

  h4 {
    margin: 0 0 .5em 0;
  }

  p {
    margin: 0 0 .5em;
  }
}

.pp-container {
  width: 1160px;
  max-width: calc(100% - 40px);
  margin: 5vw auto;
}

.pp-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  &__content {
    width: calc(100% - 280px);
    padding: 2em;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px #e2e2e2;
  }

  &__sidebar {
    width: 250px;
  }
}

.pp-table {
  border-collapse: collapse;
  border: solid #e0e0e0;
  border-width: 1px 1px 0 1px;
  max-width: 100%;
  margin: 1.5em 0;
  background: white;
  font-size: 1em;
  width: 100%;

  .pp-table {
    margin: 0;
  }

  th, td {
    padding: .5em;
    border: solid #e0e0e0;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
  }

  thead {
    
    th {
      text-align: left;
      background-color: #f9f9f9;
    }
  }
}

.junction-table {
  width: 100%;
}

.pp-button,
a.pp-button {
  text-decoration: none;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.9em 1em;
  border: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  svg {
    margin-left: 6px;
    width: 14px;
  }
}

.popover-box {
  background: white;
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(1,1,1,.1);
  max-width: 260px;

  > .__label,
  > .__entry {
    padding: .5em 1em;
  }

  .__label {
    background: black;
    display: block;
    width: 100%;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-weight: bold;
    font-size: .9em;
    padding: .7em 1em;
  }

  .__entry {
    font-size: .9em;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 4px 0;
        display: inline-block;
        margin-right: 10px;
        border-bottom: solid 1px black;
      }
    }
  }
}

.btn-disable {
  opacity: .5;
  pointer-events: none;
}

.import-all.disable {
  pointer-events: none;
  background: lightgray;
}
.button-import {
  &.Done {
    pointer-events: none;
    background: gray;
  }
}
.junction-content {
  position: relative;
}
.and-loading-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: rgb(0 0 0 / 10%);
}
@keyframes sploading {
  to {
    transform: rotate(1turn);
  }
}
.and-spinner-loading {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
  animation: sploading 1s infinite linear;
}
.import-status {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  display: block;
  text-align: center;

  &.Done {
    color: blue;
  }
  &.Failure {
    color: red;
  }
}

.pp-icon-emoj {
  font-style: normal;
}

.pp-font-icon {
  font-size: 18px;
}

.pp-tabs-container {

  .pp-tabs__heading {
    display: flex;
    flex-wrap: wrap;

    .pp-tab__heading-item {
      border: solid #eee;
      border-width: 1px 1px 0 0;
      padding: 1em 2em;
      cursor: pointer;
      opacity: .7;
      background: #eee;

      &.tab-show {
        box-shadow: 0px 2px 0 -1px #FFF;
        opacity: 1;
        background: white;
        font-weight: bold;
      }

      &:first-child {
        border-left-width: 1px;
      }
    }
  }

  .pp-tabs__content {
    border: solid 1px #eee;
    padding: 2em;
    background: white;

    .pp-tab__content-item {
      display: none;

      &.tab-show {
        display: block;
      }
    }
  }
}

td.events-in-product {
  background: #f9f9f9;
  padding: 1.5em
}

.pp-button.__imported {
  opacity: .7;
}

a.open-url {
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  margin-left: 4px;
}

table.products-table {

  tr.__imported {
    background: #eee;

    > td:first-child {
      border-left: solid 2px #2571b1;
    }
  }
}

@keyframes loadingRotateRounded {
  from { transform: rotate(0); -webkit-transform: rotate(0) }
  to { transform: rotate(360deg); -webkit-transform: rotate(360deg) }
}

.__is-loading {
  opacity: .5 !important;
  position: relative;
  pointer-events: none;

  &:after {
    content: "";
    position: absolute;
    left: calc(50% - (18px / 2));
    top: calc(50% - (18px / 2));
    // transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 24px;
    border: solid #eee;
    border-width: 3px;
    border-left-color: transparent;
    animation: loadingRotateRounded 3s infinite linear;
    -webkit-animation: loadingRotateRounded 3s infinite linear;
    box-sizing: border-box;
  }
}

.pp-button {

  &.__is-loading {
    color: transparent;
    
    svg {
      opacity: 0;
    }
  }
}