button:focus,
:focus {
  box-shadow: 0px 0px 0px 2px #3788ff!important;
  border-radius: 2px;
  border: 2px solid #fff!important;
  outline: none!important;
}

.container{
  max-width: 1392px;
}
.template-form-search {
  background: #663077;
  padding: 40px 20px 20px;
}
.content-search .entry-title a {
  color: #a22f2c;
}

.template-form-search .search-form {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.template-form-search .close {
  display: none;
}

.template-form-search .search-form label[for="autocomplete_search"] {
  width: calc(100% - 150px);
  display: flex;
  align-items: center;
  opacity: 1;
  padding-right: 30px;
  position: relative;
}

.template-form-search .search-form .search-submit {
  width: 150px;
  display: inline-block;
  border-radius: 25px;
  background: #fff;
  color: #626262;
  font-family: "Avenir-Medium";
}

.template-form-search .search-form label[for="autocomplete_search"] svg {
  position: absolute;
  height: 36px;
  width: 36px;
  padding: 10px;
  zoom: 1.1;
}

.suggestions-search {
  color: #fff;
  width: 100%;
  padding: 20px 0 0;
  line-height: normal;
}

.suggestions-search a {
  color: #fff;
  text-decoration: underline;
  display: inline-block;
}

.template-form-search
  .search-form
  label[for="autocomplete_search"]
  #autocomplete_search {
  padding: 10px 10px 10px 35px;
  height: 45px;
  border-radius: 25px;
  background: #fff;
  border: 2px solid;
  color: #626262;
  font-size: 1.125rem;
  font-family: "Avenir-Medium";
}

.ui-widget {
  max-width: 520px;
  padding: 10px 0;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  overflow: hidden;
  border-color: #663077 !important;
}

.ui-widget .ui-menu-item a {
  padding: 5px 10px;
  text-decoration: none;
  line-height: normal;
  display: flex;
}

.ui-widget .ui-menu-item a svg {
  width: 16px;
  zoom: 1.1;
  margin-right: 5px;
}

.ui-widget .ui-menu-item a span {
  width: calc(100% - 36px);
}

@media (max-width: 768px) {
  .template-form-search {
    padding: 15px;
    margin-top: 16px;
  }

  .template-form-search .search-form label[for="autocomplete_search"] {
    width: calc(100% - 100px);
    padding-right: 10px;
  }

  .template-form-search .search-form label[for="autocomplete_search"] input,
  .template-form-search .search-form .search-submit {
    font-size: 16px !important;
  }

  .template-form-search .search-form .search-submit {
    width: 100px;
  }

  .suggestions-search {
    font-size: 14px;
    padding-top: 10px;
  }

  .ui-widget .ui-menu-item a {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .ui-widget {
    max-width: 375px;
  }
}

/* Custom search page */
.search .breadcrumbs-top {
  background: #663077 !important;
}

#template-results-search {
  padding-bottom: 60px;
}

body.search .template-form-search .container {
  padding: 0;
}

body.search .template-form-search .search-form {
  width: 100%;
  max-width: 100%;
}

body.search .template-form-search .search-form .search-submit {
  background: #a22f2c;
  color: #fff;
}

body.search .ui-widget {
  max-width: 717px;
}

body.search .suggestions-search {
  display: none;
}

body.search .all-result-text,
body.search .count-results {
  line-height: normal;
  font-weight: bold;
  font-size: 1rem;
}

body.search .count-results {
  padding: 30px 0;
}

body.search .content-search .item-search:not(:last-child) {
  margin-bottom: 30px;
}

body.search .item-search .entry-summary {
  margin-top: 0;
  font-size: 1rem;
  margin-top: 5px;
  line-height: normal;
}

body.search .item-search .entry-title {
  font-size: 1.125rem;
  margin: 0;
  border: none;
  line-height: 120%;
  margin-bottom: 10px;
  text-transform: capitalize;
}

body.search .item-search .entry-link-code a {
  color: #333;
  font-size: 1rem;
}

body.search .pagination {
  padding-top: 20px;
}

body.search .pagination .nav-links {
  display: flex;
}

body.search .pagination .nav-links .page-numbers {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid transparent;
  color: #626262;
}

body.search .pagination .nav-links .page-numbers:hover {
  text-decoration: none;
}

body.search .pagination .nav-links .page-numbers:active,
body.search .pagination .nav-links .page-numbers:focus,
body.search .item-search .entry-link-code a:focus,
body.search .item-search .entry-title a:focus {
  outline: none !important;
}

body.search .pagination .nav-links .page-numbers.current {
  border-color: #9e9e9e;
  border-radius: 4px;
}

body.search .pagination .nav-links .page-numbers.next,
body.search .pagination .nav-links .page-numbers.prev {
  background: #626262;
  color: #fff;
  border-radius: 25px;
  min-width: 100px;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
}

body.search .pagination .nav-links .page-numbers.next {
  margin-left: 30px;
}

body.search .pagination .nav-links .page-numbers.prev {
  margin-right: 30px;
}

body.search .not-found {
  padding: 30px 0;
}

body.search .not-found .page-title {
  font-size: 30px;
  line-height: normal;
}

body.search .page-tiles .cards .the-card {
  margin-bottom: 30px;
}

.home header {
  margin-bottom: 0;
}

.home .hero-text {
  margin-top: 31px;
  padding-top: 45px;
}

@media (max-width: 991px) {
  body.search .template-form-search {
    padding-top: 20px;
  }

  body.search .pagination {
    padding-top: 0;
  }

  body.search .item-search .entry-title {
    font-size: 1rem;
  }

  body.search .count-results {
    padding: 10px 0 0;
    font-size: 14px;
  }

  body.search .all-result-text {
    display: block;
    padding: 10px 0;
  }

  .pagination {
    display: block;
  }

  body.search .pagination .nav-links {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  body.search .pagination .nav-links .page-numbers {
    display: none;
  }

  body.search .pagination .nav-links .page-numbers.next,
  body.search .pagination .nav-links .page-numbers.prev {
    display: block;
  }

  body.search .pagination .nav-links .page-numbers.next {
    margin-left: 0;
  }

  body.search .item-search .entry-summary,
  body.search .item-search .entry-link-code a {
    font-size: 14px;
  }

  body.search .content-search .item-search:not(:last-child) {
    margin-bottom: 20px;
  }

  body.search .breadcrumbs-top {
    margin-bottom: 0;
  }

  body.search .not-found,
  body.search .not-found .page-title {
    padding: 10px 0;
  }
}

/* Logo link */
header .navbar-brand a.desktop{
  width: 146px;
}
header .navbar-brand a.mobile{
  width: 186px;
}
@media (min-width: 1200px){
  header .navbar-expand-xl{
    flex-wrap: wrap!important;
  }
}

header ul li.dropdown .dropdown-menu .top-area h3 > a {
  display: inline-block;
  position: relative;
}

header ul li.dropdown .dropdown-menu .top-area h3 > a::before {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
}

header ul li.dropdown .dropdown-menu .top-area h3 {
  position: relative;
  padding-left: 48px;
}

header ul li.dropdown .dropdown-menu .top-area h3::before {
  content: " ";
  display: inline-block;
  background: url("../imgs/menu-item.svg") no-repeat;
  background-size: cover;
  width: 37px;
  height: 37px;
  position: absolute;
  left: 0;
}

header ul li.dropdown .dropdown-menu > li {
  padding-left: 85px;
}
header ul li.dropdown .dropdown-menu > li::before {
  left: 37px;
}
header ul li.dropdown .dropdown-menu > li > a {
  padding-left: 0;
  margin-left: 0;
}
.admin-bar .notice {
  display: none;
}
header .is-active .buttons {
  margin-left: 0;
}
header .navbar .buttons a.btn-text {
  display: flex;
  align-items: center;
}
header #main-nav .navbar-nav {
  flex-wrap: wrap;
}
header #main-nav .navbar-nav li a {
  color: inherit;
  font-family: "Avenir-Medium";
}

/* Header version 2 */

header.version-2 {
  padding: 30px 0 10px;
  background-color: #6e297b;
}

header.version-2 .navbar-brand a.logo {
  width: 146px;
  line-height: 0;
}

header.version-2 #main-nav .navbar-nav li a {
  font-size: 1.25rem;
  color: #fff;
  font-family: "Avenir-Medium";
}

header.version-2 #main-nav .navbar-nav li a:hover{
  color: #FAA919;
} 

header.version-2 #main-nav .navbar-nav li.show a.dropdown-toggle{
  color: #FAA919;
}

header.version-2 #menu-header > li.cta-search::before {
  background-image: url("../imgs/search-13-32.png");
}

header.version-2 .header-button-actions .pp-buton-action {
  border: solid 2px #ffffff;
}

header.version-2 .header-button-actions .pp-buton-action.__mini-cart-button {
  background-color: inherit;
}

header.version-2 .header-button-actions .pp-buton-action.__mini-cart-button > span {
  color: #fff;
  font-family: "Avenir-Heavy";
}

header.version-2 .header-button-actions .pp-buton-action.__mini-cart-button svg{
  transform: scale(1);
  -webkit-transform: scale(1);
}

header.version-2 .header-button-actions .pp-buton-action.__mini-cart-button svg path{
  stroke: #fff!important
}

header.version-2 .header-button-actions .pp-buton-action.__mini-cart-button svg circle{
  fill: #fff!important
}

header.version-2 .header-button-actions .pp-buton-action.__mini-cart-button .quantity-cart {
  right: 3px;
  top: 3px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  background-color: inherit;
  font-family: "Avenir-Medium";
}

header.version-2 .header-button-actions .pp-buton-action {
  background-color: inherit;
}

header.version-2 .header-button-actions .pp-buton-action span {
  font-family: "Avenir-Heavy";
}

header.version-2 .hamburger .hamburger-box {
  width: 100px;
  border: 2px solid #fff;
}

header.version-2 button.hamburger:focus {
  border-radius: 20px;
  border: 1px solid #fff!important;
}

header.version-2 .hamburger .hamburger-inner {
  left: 20px;
}

header.version-2 .hamburger .hamburger-inner,
header.version-2 .hamburger .hamburger-inner:after,
header.version-2 .hamburger .hamburger-inner:before {
  background-color: #fff;
}

header.version-2 .hamburger--spring.is-active .hamburger-inner {
  background-color: transparent;
}

header.version-2 .hamburger.is-active .hamburger-box {
  width: 30px;
}

header.version-2 .hamburger .text {
  right: 18px;
  color: #fff;
}

body a{
  outline: none;
}

@media only screen and (max-width: 1440px) {
  header.version-2 #main-nav .navbar-nav li a{
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 1024px) {
  header.version-2 {
    padding: 6px 0;
    border: none;
  }
  body.home .container{
    padding: 0 46px;
  }
  header.version-2 .navbar-brand a.logo {
    width: 96px;
  }
  header.version-2 .navbar-brand .logo img{
    width: 100%;
    max-width: 96px;
  }
}

@media only screen and (max-width: 900px) {
  
}

@media only screen and (max-width: 767px) {
  header.version-2 .navbar-brand .logo img{
    max-width: 96px;
  }
}

@media only screen and (max-width: 360px) {
  body.home .container{
    padding: 0 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px){
  header .navbar #main-nav{
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .site-header .buttons {
    position: absolute;
    right: 0;
    top: 12px;
    transform: translateY(-50%);
  }
  .template-form-search-genrenal {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    top: 195px;
  }
}
.template-form-search .search-form,
.template-form-search .close {
  width: 100%;
}
/* .template-form-search .template-form-search__close.close {
  max-width: 700px;
  margin: 0 auto 50px auto;
  float: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  opacity: 1;
  cursor: pointer;
} */
.template-form-search .template-form-search__close.close span {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 400;
  margin-left: 14px;
}
.template-form-search-genrenal {
  display: none;
}
.template-form-search-genrenal.show {
  display: block;
}

#menu-header > li.cta-search {
  position: relative;
  padding-left: 25px;
}

#menu-header > li.cta-search::before {
  content: "";
  display: inline-block;
  background-image: url("../imgs/search-icon.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-66%);
  cursor: pointer;
  
}

@media (max-width: 1023px) {
  #menu-header > li.cta-search {
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

body.search.search-results
  .template-form-search-genrenal
  .template-form-search {
  background: #663077;
  padding: 60px 0;
}
.template-form-search-genrenal .template-form-search {
  padding: 94px 0;
}
body.search.search-results
  .template-form-search-genrenal
  .template-form-search
  .template-form-search__close.close {
  max-width: 700px;
  margin: 0 auto 50px auto;
  float: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  opacity: 1;
  cursor: pointer;
}

body.search.search-results
  .template-form-search-genrenal
  .template-form-search
  .search-form {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

body.search.search-results
  .template-form-search-genrenal
  .template-form-search
  .search-form
  .search-submit {
  background: #fff;
  color: #626262;
}

body.search.search-results .suggestions-search {
  display: inline-block;
}

body.search .ui-widget,
.ui-widget.ui-widget-content {
  z-index: 999;
}

/* Dashboard */
.main-dashboard .dashboard-wrapper {
  display: flex;
  justify-content: space-between;
}
.main-dashboard .dashboard-wrapper .dashboard-wrapper-right {
  width: 100%;
}
.main-dashboard .dashboard-wrapper .dashboard-wrapper-left {
  width: 100%;
  max-width: 440px;
}
.main-dashboard .dashboard.e-learn:first-child .container > .title {
  margin-top: 0;
}
.dashboard .the-details span.bundle:nth-child(n+2){
  display: none;
}
.main-dashboard .dashboard-wrapper .dashboard {
  margin-bottom: 40px;
  float: none !important;
  width: 100% !important;
}

.dashboard ul.assessments-list {
  margin-top: 14px;
}
.dashboard ul.assessments-list li {
  margin-bottom: 14px;
}

.main-dashboard .dashboard span {
  font-size: 1rem;
  line-height: 120%;
}
.dashboard .the-details li > span {
  display: block;
  margin-bottom: 8px;
}
.site-content .dashboard .title h2 {
  font-size: 1.5rem;
  line-height: 120%;
  font-family: Avenir-Roman;
  display: inline-block;
}
.site-content .dashboard .header .title{
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 767px){
  .site-content .dashboard .title h2{
    text-transform: inherit;
  }
}
.main-dashboard .dashboard.membership .header .title h2 {
  margin-top: 0;
}
.main-dashboard .dashboard.membership .header .title h2 span {
  font-size: 1.5rem;
}
.site-content .dashboard .cta .inside a{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0;
}
.site-content .dashboard .cta .inside a div{
  width: fit-content;
  height: auto;
  position: inherit;
  padding: 8px;
  line-height: 0;
}
.site-content .dashboard .cta .inside a div span.material-icons{
  position: inherit;
  top: 0;
  left: 0;
}

.main-dashboard .dashboard.upcoming-events .event .event-info {
  max-width: 350px;
}

.main-dashboard .dashboard.e-learn .container > .title {
  margin: 40px 0 20px;
}
.main-dashboard .dashboard.e-learn .title p {
  font-size: 24px;
  line-height: 28px;
}
.dashboard .elearn-modules > *:last-child{
  display: none;
}
.main-dashboard .dashboard.membership {
  margin-top: 0;
}
.main-dashboard .dashboard.membership .title {
  align-items: flex-start;
}
.main-dashboard .dashboard.relationship-manager .title {
  align-items: center;
}
.main-dashboard .dashboard.membership .title .__level {
  font-family: Avenir-Medium;
}
.main-dashboard .dashboard.membership .header .title p {
  margin-top: 0;
}
.main-dashboard .dashboard.membership .the-details .info {
  max-width: 100%;
}
.main-dashboard .dashboard.membership .the-details .cta {
  float: none;
  margin-top: 16px;
}
.main-dashboard .dashboard.membership .relationship-manager .inside {
  border-top: 1px solid #c9c9c9;
  border-bottom: none;
}
.main-dashboard .dashboard.relationship-manager .header .inside {
  border-bottom: none;
}
.main-dashboard .dashboard.membership.non-member .relationship-manager {
  border: none;
}
.main-dashboard .dashboard.membership .relationship-manager .manager-name {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 35px;
  font-family: Avenir-Heavy;
}
.main-dashboard .dashboard.membership .relationship-manager ul li {
  position: relative;
  padding-left: 35px;
  font-size: 1rem;
  line-height: 140%;
  margin-bottom: 8px;
}
.main-dashboard .dashboard.membership .relationship-manager a {
  color: inherit;
  text-decoration: underline;
}
.main-dashboard .dashboard.membership .relationship-manager ul li:before {
  content: "";
  border: 1px solid #787878;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 4px;
  top: 7px;
}

.main-dashboard .dashboard.advertisement.non-member {
  float: left;
}
.main-dashboard .dashboard.advertisement .details {
  padding: 30px 20px;
}
.dashboard.advertisement .details .title {
  font-size: 22px;
  line-height: 105%;
  margin-bottom: 30px;
}
.dashboard.advertisement .details .description {
  font-size: 20px;
  line-height: 105%;
}
.dashboard.advertisement .cta .inside {
  border: none;
  padding-top: 0;
  min-height: 50px;
}
.dashboard.advertisement img.adv-img {
  width: 100%;
  display: block;
  height: 256px;
  object-fit: cover;
}
.dashboard.advertisement .cta .inside a div {
  border-color: #663077;
}
.dashboard.advertisement .cta .inside a div span.material-icons {
  color: #663077;
}

@media (max-width: 1200px) {
  .main-dashboard
    .dashboard.upcoming-events
    .the-details
    ul
    li
    .event-info
    p
    span {
    font-size: 15px;
  }
  .main-dashboard .dashboard.membership .container,
  .main-dashboard .dashboard.relationship-manager .container,
  .main-dashboard .dashboard.upcoming-events .container {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .main-dashboard .dashboard-wrapper {
    flex-wrap: wrap;
  }
  .main-dashboard .dashboard-wrapper .dashboard-wrapper-left {
    max-width: 100%;
  }
  .main-dashboard .dashboard-wrapper .dashboard {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .main-dashboard .dashboard-wrapper > *:last-child {
    margin-bottom: 20px;
  }
  .main-dashboard .dashboard-wrapper .dashboard {
    margin-bottom: 24px;
  }
  .main-dashboard .dashboard.history {
    margin-bottom: 0;
  }
  .main-dashboard .dashboard.membership,
  .main-dashboard .dashboard.relationship-manager,
  .main-dashboard .dashboard.upcoming-events {
    float: none;
  }
  .main-dashboard .dashboard.membership .container,
  .main-dashboard .dashboard.relationship-manager .container,
  .main-dashboard .dashboard.upcoming-events .container {
    padding: 0;
  }
  .main-dashboard .dashboard.advertisement {
    margin-bottom: 0;
  }
  .dashboard.advertisement .page-tiles .cards .the-card {
    padding: 0;
  }
  .main-dashboard .dashboard.advertisement .details {
    padding: 24px 18px;
  }
  .dashboard.advertisement .details .title {
    font-size: 1.125rem;
    margin-bottom: 16px;
  }
  .dashboard.advertisement .details .description {
    font-size: 1rem;
  }
  .dashboard.advertisement img.adv-img {
    height: 180px;
  }
}
/* /Dashboard */

/* E-Learn */
.elearn-loading-wrapper {
  display: none;
  text-align: center;
  padding: 40px 20px;
}
/* .elearn-modules > :last-child {
  display: none;
} */
@media (min-width: 768px) and (max-width: 1120px){
  .main-elearn-wrapper .dashboard.elearn-usage{
    width: 39.3%;
  }
  .main-elearn-wrapper .dashboard.purchased-elearns{
    margin-right: 12px;
    width: 60.3%;
  }
}
 

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.elearn-loading-wrapper img.img-loading {
  margin-bottom: 90px;
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}
.elearn-loading-wrapper .loading-corprorate-name {
  font-size: 49px;
  margin-bottom: 90px;
}
.loading-description {
  font-size: 49px;
  margin-bottom: 100px;
}

.elearn-headline {
  max-width: 860px;
  margin-bottom: 60px;
}

.elearn-headline .__title {
  margin-bottom: 40px;
}

.elearn-hero {
  margin-bottom: 40px;
}

.main-elearn-wrapper .purchased-elearns {
  margin-bottom: 60px;
  margin-right: 40px;
}
.main-elearn-wrapper .purchased-elearns .cta .inside {
  display: flex;
  justify-content: space-between;
}
.main-elearn-wrapper .purchased-elearns .cta .inside a.btn-download {
  color: #000;
  text-decoration: underline;
}
.main-elearn-wrapper .purchased-elearns .cta .inside a.btn-download div {
  border: 1px solid #000;
}
.main-elearn-wrapper .purchased-elearns a.btn-download span {
  color: #000;
}

.main-elearn-wrapper .dashboard.elearn-usage {
  margin-bottom: 40px;
}

.elearn-usage .the-details ul li {
  position: relative;
  padding-left: 35px;
  line-height: 25px;
  margin-bottom: 16px;
  font-size: 1rem;
}
.elearn-usage .the-details a {
  color: inherit;
  text-decoration: underline;
}
.elearn-usage .the-details ul li:before {
  content: "";
  border: 1px solid #787878;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 4px;
  top: 7px;
}
@media only screen and (max-width: 767px) {
  .main-elearn-wrapper .elearn-headline {
    margin-bottom: 30px;
  }
  .main-elearn-wrapper .elearn-headline .single-column-content .text-content-block {
    margin-bottom: 0;
  }
  .main-elearn-wrapper .elearn-headline .__title {
    margin: 24px 0;
    font-size: 30px;
  }
  .main-elearn-wrapper .elearn-headline img.img-headline {
    margin-bottom: 24px;
  }
  .main-elearn-wrapper .elearn-headline .__headline {
    font-size: 20px;
    text-transform: none;
  }
  .main-elearn-wrapper .purchased-elearns {
    margin-bottom: 24px;
    margin-right: 0;
  }
}

/* /E-Learn */

/* Landing */
.page-template-landing .breadcrumbs-top {
  margin-bottom: 50px;
}
.page-template-landing h3.title {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 55px;
}
.page-template-landing .embed-container {
  margin-bottom: 30px;
  overflow: hidden;
}
.page-template-landing span a {
  color: #a22f2c;
  margin-bottom: 20px;
  font-size: 1.125rem;
}
.page-template-landing .text {
  margin-bottom: 30px;
  text-align: justify;
  font-size: 1.125rem;
}
.page-template-landing .title-partners {
  color: #6e297b;
  margin-bottom: 30px;
  font-size: 24px;
}
.page-template-landing ul.bt_logo_banner li {
  display: inline-block;
}
.page-template-landing .info {
  margin-bottom: 50px;
}
.page-template-landing .sidebar .title-sidebar {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}
.page-template-landing .sidebar {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 40px 20px;
  text-align: center;
  border-radius: 3px;
}
li.limk-item a {
  border-bottom: 1px solid #dfdfdf;
  padding: 15px 0;
  font-size: 1.125rem;
  color: #663077;
  vertical-align: top;
  display: flex;
  align-items: center;
}
li.limk-item a img {
  margin-right: 8px;
}
.page-template-landing .sidebar .button-sidebar {
  display: none;
  padding: 15px 30px;
  background: #663077;
  border-radius: 30px;
  color: #fff;
  font-size: 1.125rem;
  margin-top: 40px;
}
.logged-in.page-template-landing .sidebar .button-sidebar {
  display: inline-block;
}
.logged-in.page-template-landing .sidebar .button-sign-in {
  display: none;
}
.page-template-landing .sidebar .button-sign-in {
  color: #663077;
  margin-top: 30px;
}

.page-template-landing-sub .site-content {
  margin-bottom: 80px;
}
.page-template-landing-sub .sidebar-left {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 40px 20px;
  text-align: center;
  border-radius: 3px;
}
.page-template-landing-sub .sidebar-left .title-sidebar {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.page-template-landing-sub .sidebar-left li.menu-item a {
  border-bottom: 1px solid #dfdfdf;
  padding: 15px 0;
  font-size: 1.125rem;
  color: #663077;
  vertical-align: top;
  text-align: left;
}
.page-template-landing-sub .sidebar-left li.menu-item:first-child a {
  font-size: 1.125rem;
  font-weight: 600;
}
.page-template-landing-sub h3.title {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 55px;
}
.page-template-landing-sub .landing-sub-content {
  text-align: justify;
  font-size: 1.125rem;
}
.page-template-landing-sub .landing-sub-content a {
  color: #a22f2c;
}
.page-template-landing-sub .landing-sub-content p {
  margin-bottom: 15px;
}
.page-template-landing-sub .landing-sub-content ul,
.page-template-landing-sub .landing-sub-content ol {
  padding-left: 37px;
  margin-bottom: 22px;
}
.page-template-landing-sub .landing-sub-content ul {
  list-style-type: disc;
}
.page-template-landing-sub .landing-sub-content ul li {
  padding-bottom: 8px;
  line-height: 26px;
}
/* End Landing */

header #menu-header li.dropdown .dropdown-menu .top-area + li {
  position: relative;
  padding-left: 48px;
  color: #fff;
  margin: 40px 0 32px;
}
header #menu-header li.dropdown .dropdown-menu .top-area + li::before {
  left: 0;
  top: 2px;
}
header #menu-header li.dropdown .dropdown-menu .top-area + li > a {
  font-size: 36px;
  line-height: 32px;
  font-weight: 700;
  padding: 0 0 3px !important;
  display: inline-block;
  position: relative;
  width: auto;
}
header #menu-header li.dropdown .dropdown-menu .top-area + li > a::before {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
}
@media (max-width: 991px) {
  body header #menu-header li.dropdown .dropdown-menu {
    padding: 12px 0 1px;
  }
  body header #menu-header li.dropdown .dropdown-menu .top-area {
    display: block;
  }
  body header #menu-header li {
    text-align: left;
    padding-bottom: 8px;
  }
  body header #menu-header li > ul > li a {
    font-size: 20px;
    line-height: 28px;
    font-family: Avenir-Medium;
  }
  header #menu-header li.dropdown .dropdown-menu .top-area + li {
    margin: 20px 0 16px;
    padding-left: 42px;
  }
  header #menu-header li.dropdown .dropdown-menu .top-area + li::before {
    top: 6px;
  }
  header #menu-header li.dropdown .dropdown-menu .top-area + li > a {
    font-size: 24px;
    font-family: Avenir-Roman;
  }
  header #menu-header li.dropdown .dropdown-menu .top-area + li > a::before {
    bottom: -4px;
    content: "";
  }
  header #menu-header li.dropdown .dropdown-menu > li {
    padding-left: 56px;
    margin-bottom: 10px;
  }
  header #menu-header li.dropdown .dropdown-menu > li::before {
    left: 16px;
    top: 2px;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  header #menu-header li.dropdown .dropdown-menu .top-area + li > a{
    font-size: 20px;
  }
  body header #menu-header li > ul > li a{
    font-size: 1.125rem;
  }
}

.page-template-submit-form-template #content {
  position: relative;
  background-color: #faf9f9;
}

/* Error 404 */
section.error-404 {
  margin: auto;
  max-width: 1000px;
  margin-bottom: 80px;
}

.error-404 .search-form {
  display: flex;
  margin-top: 16px;
}

.error-404 .search-form label {
  width: 100%;
  max-width: 600px;
}

.error-404 .search-form input[type="submit"] {
  width: fit-content;
  line-height: 1;
  border-radius: 4px;
  color: #fff;
  padding: 6px 30px;
  margin-left: 10px;
  background-color: #663077;
}

.single-submissions .on-this-page ul li a.circle span.text {
  margin-top: 3px;
}

/* Text blocks component */
section.text-blocks {
  margin: 67px 0;
}

.text-blocks .container {
  max-width: 1064px;
}

.text-blocks .blocks-wrapper {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px,1fr) );
  gap: 66px;
}

.blocks-wrapper .block {
  padding: 36px 26px 32px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blocks-wrapper .block .label {
  margin-bottom: 4px;
  font-size: 15px;
  font-family: "Avenir-Medium";
}

.blocks-wrapper .block .headline {
  margin-bottom: 21px;
  font-size: 20px;
  font-family: "Avenir-black";
}

.blocks-wrapper .block .description {
  margin-bottom: 50px;
  font-size: 1rem;
}

.blocks-wrapper .block .block-cta {
  width: fit-content;
  padding: 6px 26px;
  border-radius: 20px;
  font-size: 1rem;
  text-align: right;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .text-blocks .blocks-wrapper {
    gap: 36px;
  }
}

@media only screen and (max-width: 767px) {
  section.text-blocks {
    margin: 40px 0;
  }
  .text-blocks .blocks-wrapper {
    gap: 24px;
  }
}

/* Posts grid component */
section.posts-grid {
  margin: 66px 0;
}

.posts-grid .cards {
  display: grid;
}
.posts-grid .cards.owl-carousel {
  display: none;
}

.posts-grid .container {
  max-width: 1064px;
}

.posts-grid .grid-top {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.posts-grid .headline {
  font-size: 1.875rem;
  list-style: 120%;
  text-transform: none!important;
}

.posts-grid .posts-grid__cta {
  font-size: 1.25rem;
  line-height: 130%;
  text-decoration: underline;
  text-align: right;
  font-family: "Avenir-Medium";
  color: #000;
}

.posts-grid .cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(260px,1fr) );
  gap: 60px;
}

.cards .post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
  overflow: hidden; 
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}


.cards.owl-carousel .post-card {
  max-width: 370px;
}

.cards.owl-carousel .owl-stage-outer {
  overflow: inherit;
}

.slides .container .slides-wrapper.owl-carousel .slide-item {
  padding: 30px 0 35px;
}

.slides .container .template-container .slide-content .headline{
  line-height: 137%;
  margin-bottom: 25px;
}

.slides .container .template-container .slide-content .description{
  margin-bottom: 25px;
  font-family: "Avenir-Medium";
}

.slides .slides-wrapper.owl-carousel .slide-item {
  padding: 45px 0;
}

.slides-wrapper .slide-content{
  position: relative;
  z-index: 9;
}

@media only screen and (min-width: 1441px) {
  .slides .slides-wrapper .slide-item .slide-img img{
    max-width: 936px;
  }
}

.slides .slides-wrapper .slide-content .cta{
  font-family: "Avenir-Heavy";
}

@media only screen and (min-width: 768px) {
  .slides .container .slides-wrapper.owl-carousel .owl-dots{
    transform: translateY(-40px);
  }
  .slides .slides-wrapper.owl-carousel .owl-dots {
    margin-top: -23px;
    transform: translateY(-50px);
  }
}

@media only screen and (max-width: 767px){
  body.home .slides .slides-box{
    padding-left: 0;
    padding-right: 0;
  }
  section.posts-grid{
    overflow: hidden;
  }
  .slides .slides-wrapper.owl-carousel .slide-item{
    min-height: 580px;
  }
  .slides .slides-wrapper .slide-content{
    min-height: 270px;
    padding-top: 0;
  }
  .slides .slides-wrapper .slide-item .slide-img {
      min-height: 220px;
  }
  .slides .container .template-container .slide-content .headline{
    font-size: 1.25rem;
  }
  .slides .container .template-container .slide-content .description{
    font-size: 0.875rem;
  }
  .slides .slides-wrapper.owl-carousel .owl-dots{
    top: calc(100% - 270px);
  }

}

@media only screen and (max-width: 480px){
  .slides .slides-wrapper .slide-content{
    min-height: 230px;
  }
  .slides .slides-wrapper .template-container .slide-content{
    min-height: 280px;
  }
}

.post-card .card__thumb {
  width: 100%;
  display: block;
  height: 178px;
  object-fit: cover;
}

.product .post-card .card__body {
  border-color: #6F2979;
}
.post-card .card__body {
  border-top: 6px solid #FAA919;
  padding: 30px 32px 0;
}

.post-card ul.item-list-info {
  margin-bottom: 18px;
  list-style: disc;
  display: flex;
}

.post-card ul.item-list-info > *:first-child {
  margin-left: 0;
  list-style: none;
}

.post-card ul.item-list-info li {
  margin-left: 24px;
  font-size: 0.75rem;
  font-family: "Avenir-Heavy";
  color: #663077;
}

/* .post-card .card__action:focus {
  border: 1px solid #222!important;
} */

.post-card .card__action::before {
  content: ""; 
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  border: 2px solid transparent; 
  cursor: pointer; 
  transition: border-color 200ms;
}

.post-card .card__meta {
  display: block;
  margin-bottom: 20px;
  font-size: 0.875rem;
  color: #663077;
  font-family: "Avenir-Heavy";
}

.post-card .card__title {
  margin-bottom: 10px;
  line-height: 130%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-card .card__title a{
  font-size: 1.25rem;
  line-height: 120%;
  color: #1B2437;
  font-family: inherit;
  letter-spacing: 0.24px;
}

.post-card .card__title a:focus {
  border: 1px solid #3788ff!important;
}

.post-card .card__footer {
  padding: 0 32px 30px;
}

.post-card .card__description {
  margin-bottom: 30px;
  font-size: 0.875rem;
  line-height: 130%;
}

.post-card .card__description *{
  font-size: 0.875rem;
  line-height: 136%;
  font-family: "Avenir-Book";
}

.post-card .card__description .read-more {
  color: #663077;
  font-family: "Avenir-Heavy";
  text-decoration: underline;
}

.post-card .card__btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 20px;
  border: 2px solid #6e297b;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Avenir-Heavy";
  background-color: #fff;
  color: #6e297b;
}

.post-card .card__btn:hover {
  background-color: #eee;
}

.post-card .product.add_to_cart_inline {
  display: none;
}

.post-card .item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.post-card .price bdi{
  color: #663077;
  font-size: 1.125rem;
  font-family: "Avenir-Heavy";
  letter-spacing: 0.21px;
}

.post-card .price .woocommerce-Price-currencySymbol {
  font-family: "Avenir-Heavy";
}

.post-card .add_to_cart_button {
  position: relative;
  z-index: 100;
  padding: 8px 20px;
  font-size: 1rem;
  font-family: "Avenir-Heavy";
  border-radius: 20px;
  border: 2px solid #663077;
  color: #663077;
}

.post-card .add_to_cart_button.loading {
  color: transparent;
  background-image: url("../imgs/Spinner-per.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit!important;
}

.post-card .added_to_cart {
  width: 100%;
  position: absolute;
  margin-top: 6px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Avenir-Heavy";
  font-size: 1rem;
  color: #663077;
}

.post-card .add_to_cart_button:hover {
  text-decoration: none;
  background-color: #eee;
}

.post-card .item-button .loading-wrapper {
  display: none;
}

.posts-grid .owl-carousel .owl-dots {
  display: flex!important;
  visibility: visible;
  margin-top: 30px;
  justify-content: center;
  gap: 8px;
}

.cards .owl-dots .owl-dot {
  width: 16px;
  height: 16px;
  padding: 0;
  border: 2px solid #663077;
  border-radius: 100%;
}

.cards .owl-dots .owl-dot.active {
  background-color: #663077;
}

@media only screen and (max-width: 1024px) {
  .posts-grid .cards {
    gap: 36px;
  }
}

@media only screen and (max-width: 991px) {
  .posts-grid .headline {
    font-size: 1.25rem;
  }
  .posts-grid .posts-grid__cta {
    font-size: 1rem;
  }
  .posts-grid .cards {
    column-gap: 24px;
    row-gap: 32px;
  }
  .post-card .card__body {
    padding: 24px 24px 0;
  }
  .post-card .card__footer {
    padding: 0 24px 24px;
  }
}

@media only screen and (max-width: 600px) {
  .posts-grid .cards {
    display: none;
  }
  .posts-grid .cards.owl-carousel {
    display: block;
  }
  .cards .post-card {
    height: 500px;
  }
  .posts-grid .owl-carousel .owl-dots {
    height: 20px;
  }
}

@media only screen and (max-width: 400px) {
  section.posts-grid {
    width: 100%;
    overflow-x: hidden;
  }
}

/* Icons list */
section.icons-list {
  margin: 66px 0;
}

.icons-list .container {
  max-width: 1064px;
}

.icons-wrapper .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 63px;
}

.icons .icon-item {
  position: relative;
}

.icons .icon-item ._icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 172px;
  height: 172px;
  background-color: #999;
}

.icon-item.circle a,
.icon-item.circle ._icon {
  border-radius: 100%;
}

.icons .icon-item ._icon i {
  font-size: 90px;
}

.icons .icon-item  ._cta {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.icons .icon-item ._cta a{
  width: fit-content;
  font-size: 1.25rem;
  line-height: 27px;
  color: #000;
  border-radius: 0;
  text-decoration: underline;
  text-underline-position: from-font;
  font-family: "Avenir-black";
}

.icons .icon-item ._cta a:hover {
  color: #faa919;
}

.icons .icon-item ._cta a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
}

@media only screen and (max-width: 1024px) {
  .icons-wrapper .icons {
    gap: 40px;
  }
  .icons .icon-item ._icon {
    width: 132px;
    height: 132px;
  }
  .icons .icon-item ._icon i {
    font-size: 70px;
  }
}

@media only screen and (max-width: 767px) {
  section.icons-list {
    margin: 40px 0;
  }
  .icons-wrapper .icons {
    gap: 32px;
  }
  .icons .icon-item ._icon {
    width: 100px;
    height: 100px;
  }
  .icons .icon-item ._icon i {
    font-size: 50px;
  }
  .icons .icon-item ._cta a {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 480px) {
  .icons-wrapper .icons {
    gap: 26px;
  }
  .icons .icon-item ._icon {
    width: 76px;
    height: 76px;
  }
  .icons .icon-item ._icon i {
    font-size: 36px;
  }
  .icons .icon-item ._cta {
    margin-top: 14px;
  }
  .icons .icon-item ._cta a {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 375px) {
  .icons .icon-item ._icon {
    width: 60px;
    height: 60px;
  }
}

body.home #content.site-content{
  padding-bottom: 74px;
}

/* Footer */
body footer.site-footer .bottom hr {
  padding: 0;
  margin-bottom: 50px;
}

footer.site-footer{
  padding-bottom: 30px;
}

footer.site-footer .bottom .ctas a:hover{
  background: #000;
  border-color: #000;
}

@media only screen and (max-width: 480px) {
  footer.site-footer .bottom .ctas a{
    font-size: 0.875rem;
  }
}

