.woocommerce-checkout {

  a {
    width: fit-content;
    color: var(--accent-color);

    &:hover {
      color: var(--accent-color);
      opacity: .95;
    }
  }

  form label {
    opacity: 1;
  }

  .woocommerce-form-coupon-toggle {

    .showcoupon {
      margin-top: 6px;
      display: flex;
      text-decoration: none;
      border: 2px solid transparent;
    }
    .showcoupon::after {
      content: "\f347";
      font-family: dashicons;
      font-size: 1.125rem;
    }
  }

  .woocommerce-message {

    .empty-cart-message {
      margin-top: 30px;
    }
  
    .button {
      float: none;
      margin-top: 10px;
      font-family: "Avenir-Medium";
      color: #fff;
      background-color: #6e3685!important;

      &:hover {
        color: #fff!important;
      }
    }
  }

  .shop_table {
    .cart_item {
      .product-name {
        text-decoration: none!important;
        a {
          text-decoration: underline;
        }
      }
    }
    .amount {
      font-family: "Avenir-Heavy";
      * {
        font-family: "Avenir-Heavy";
      }
    }
    .product-total {
      .amount {
        font-family: "Avenir-Medium";
        * {
          font-family: "Avenir-Medium";
        }
      }
    }
  }
  @media(max-width: 767px) {
    .required-login-wrapper {
      margin-top: 60px;
      margin-bottom: 60px;
      .btn {
        margin-top: 20px;
        font-size: 1rem;
      }
    }
  }

}

form.woocommerce-checkout {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .woocommerce-NoticeGroup-checkout {
    width: 100%;
  }

  #customer_details {
    width: 48% !important;

    h3 {
      margin-bottom: 1rem;
    }
  }

  .pp-order-review {
    width: 48%;
    margin-bottom: 1.68rem;

    h3 {
      margin-bottom: 1rem;
    }

    .pp-order-review__inner {
      position: sticky;
      top: 40px;
    }
  }

  @media(max-width: 768px) {

    #customer_details,
    .pp-order-review {
      width: 100% !important;
    }
  }
}

#customer_details {
  display: inline-block;

  .col-12 {
    padding: 0 !important;
  }

  > * {
    margin-bottom: 1.5rem;
  }
  
  &:before, &::after {
    display: none;
  }

  .col-1,
  .col-2 {
    float: none;
    width: 100%;
    max-width: initial;
  }

  input[type="text"],
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  textarea {
    width: 100%;
    border-color: #c5c5c5;
    border-radius: 0;
    height: 46px;
    color: black;

    &::placeholder {
      color: black;
    }
  }

  textarea {
    height: 180px;
  }

  .form-row {

    .control-label,
    .woocommerce-input-wrapper {
      width: 100%;
    }

    .selectric {
      border-radius: 0;
      border-color: #ddd;

      .label {
        margin-left: 0;
      }
    }

    .button,
    .select2-selection--single,
    .select2-selection__rendered,
    .select2-selection__arrow {
      height: 46px !important;
      line-height: 46px !important;
      border-radius: 0;
    }

    .control-label {
      width: 100%;
      text-transform: initial;
      font-size: 1rem;
      color: black;
      opacity: 1;
      font-weight: normal;
    }
    
  }
}

.checkout_coupon.woocommerce-form-coupon {
  border-radius: 0 !important;
  background: white;
  border-color: #ddd !important;

  p {
    margin-bottom: 1rem;
  }

  .form-row {
    padding: 0;
    margin-bottom: .5rem;
  }

  input[name=coupon_code] {
    height: 40px;
    padding: 0 1rem;
    border: solid 1px #777;
    border-radius: 40px;
    font-size: 1rem;

    &::placeholder {
      color: black;
    }
  }

  button[name=apply_coupon] {
    height: 40px;
    border-radius: 40px;
    background: var(--accent-color);
    color: white;
    font-weight: normal;
    font-size: 1rem;
    min-width: 220px;
    max-width: 100%;

    &:hover {
      opacity: .8;
    }
  }
}

#order_review {

}

table.woocommerce-checkout-review-order-table {

  th, td {
    font-size: 1rem;
    line-height: normal !important;
  }

  th.product-name {
    width: 70%;
  }

  td.product-name {
    text-decoration: underline;
  }

  th.product-total, td.product-total {

  }

  td:last-of-type {
    display: table-cell !important;
  }
}

#payment {
  border-radius: 1px !important;
  border: 1px solid #d3ced2;

  .woocommerce-privacy-policy-text {
    margin-bottom: 1rem;
    line-height: normal !important;

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  .wc_payment_method {
    label {
      font-size: 1rem;
      font-family: "Avenir-Medium";
      text-transform: none;
    }
  }
}

button#place_order {
  width: 100%;
  font-size: 1.125rem;
  font-family: "Avenir-Heavy";
  background: var(--accent-color);
  padding: 1.2rem;
  text-transform: capitalize;
  border: none;
  color: #fff;
  &:hover {
    opacity: .8;
  }
}

.woocommerce form .form-row.woocommerce-invalid .select2-container, 
.woocommerce form .form-row.woocommerce-invalid input.input-text, 
.woocommerce form .form-row.woocommerce-invalid select {
  border-color: #a00 !important;
}

.step-checkout-bar {
  display: none;

  .step-list {
    display: flex;
    align-items: center;
    justify-content: center;

    .__line {
      border-bottom: solid 1px #999;
    }

    li {
      width: 100%;
    }

    .step-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1em 2em;
      opacity: .4;

      &.__active {
        opacity: 1;
        font-family: "Avenir-Heavy";
      }
      
      .__icon {
        display: inline-flex;
        width: 36px;
        line-height: 0;
        margin-right: 8px;

        svg {
          width: 100%;
        }
      }

      .__label {
        line-height: 1.3em;
      }
    }
  }
}

.add-attendees-container {
  padding: 24px 32px;
  background: white;
  margin: 24px 0;

  .__item {
    border-bottom: solid 1px #ddd;
    margin-bottom: 2em;
    padding-bottom: 2em;

    .gr-events {
      display: flex;
      .and {
        font-family: "Avenir-Heavy";
        font-size: 1.2rem;
        margin: 0 24px;
      }
    }

    .product-name {
      margin-bottom: .6em;
      font-size: 1.3em;
      width: fit-content;
      .event-time {
        font-family: "Avenir-Roman";
        font-weight: normal;
        font-size: 0.925rem;
        margin-top: 6px;
        opacity: 0.8;
      }
    }
  }

  .__status-icon {
    width: 30px;
    display: inline-block;
  }

  input[type=text],
  input[type=email] {
    padding: 0.6em 1em;
    color: #2a2a2a;
    border-radius: 1px;
    border: solid 1px #c5c5c5;
    width: 100%;
    transition: all 0s;

    &::placeholder {
      color: #717171;
    }

    &:read-only {
      background: #f6f6f6;
    }
  }
  .btn-submit {
    padding: 12px 24px;
    font-family: "Avenir-Medium";
  }
}

.pp-table {
  border-collapse: collapse;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
  max-width: 100%;
  margin: 1.5em 0;
  background: white;
  font-size: 1em;
  width: 100%;

  .pp-table {
    margin: 0;
  }

  th {
    font-family: "Avenir-Medium";
  }

  th, td {
    padding: .5em;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

  thead {
    
    th {
      text-align: left;
      background-color: #f9f9f9;
    }
  }
}

.add-attendees-table {

  td:first-of-type {
    padding-right: 0.5em!important;
    width: auto!important;
  }
  td:last-of-type {
    width: auto!important;
  }

  .__remove-item {
    text-wrap: nowrap;
    color: var(--accent-color); 
    text-decoration: none;
    border-bottom: solid 1px;

    &:hover {
      opacity: .8;
    }
  }

  td, th {
    position: relative;

    &.show-error-message {
      background: #FF5722;

      .error-message {
        visibility: visible;
        opacity: 1;   
      }
    }
  }

  tr.__loading {
    pointer-events: none;

    td > * {
      opacity: .4;
    }

    td:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(../../images/loading.svg) no-repeat center center;
      background-size: 30px;
      z-index: 3;
    }
  }

  tr.__invalid__ {
    border-left: solid 2px #f55724;
    background: #f5572412;
  }

  .error-message {
    position: absolute;
    width: 100%;
    background: #FF5722;
    color: white;
    padding: 0.5em;
    left: 0;
    top: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    font-family: "Avenir-Heavy";
    transition: .3s ease;
    -webkit-transition: .3s ease;
  }
}

.footer-form {
  display: flex;
  .message *{
    font-size: 1rem;
  }
  .buttons {
    margin-left: auto;
    display: flex;

    > * {
      margin-left: 1em;
      margin-bottom: .5em;
    }
  }
}

.pp-button {
  background: #6e297b;
  border: none;
  border-radius: 1px;
  color: white;
  padding: 0.7em 1em;
  font-family: "Avenir-Medium";
  transition: .3s ease;
  -webkit-transition: .3s ease;

  &:hover {
    opacity: .8;
  }
}

.btn-not-active{
  pointer-events: none;
  opacity: .6;
}

.pp-popup-add-new-contact {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
  -webkit-transition: .3s ease;

  &__inner {
    width: 420px;
    padding: 2em;
    border-radius: 3px;
    background: white;
    box-shadow: 0 0 10px 0 rgba(1,1,1,.1);

    .btn-close {
      background: black;
    }
  }
}

body.__show-pp-popup-add-new-contact {

  .pp-popup-add-new-contact {
    visibility: visible;
    opacity: 1;
  }
} 

.add-new-contact-form {

  h4 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  label {
    width: 100%;
    display: block;
    margin-bottom: .5em;
    font-size: 0.975rem;
    opacity: 1;
    text-transform: none;
    font-family: "Avenir-Medium";
    .__label {
      font-family: "Avenir-Heavy";
      font-size: 0.925rem;
    }
  }

  input[type=text], input[type=email] {
    padding: 12px 14px;
    transition: all 0s;
  }

  .buttons {
    margin-top: 1.5em;
    display: flex;

    > * {
      margin-left: .5em;
    }

    > *:first-child {
      margin-left: auto;
    }
  }
}

.pp-notification {
  padding: 1em;
  background: #6e297b1c;
  border-left: solid 3px #6e297b;
  font-size: .9em;
  line-height: normal;
  margin-bottom: 1em;
}

.pp-form-loading {
  pointer-events: none;
  
  > * {
    opacity: .5;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/loading.svg) no-repeat center center;
    background-size: 30px;
    z-index: 3;
  }

  button[type=submit] {
    opacity: .6;
  }
}

.woocommerce {
  .simplify-embedded-payment-form {
    margin: 40px auto 24px;
    padding: 0 12px;
    display: block;
    background-color: #fff;
  }
  .button.cancel {
    margin: 32px 0;
    padding: 12px 24px;
    background-color: #6e3685;
    color: #fff;
    font-size: 1rem;
    font-family: "Avenir-Medium";
    &:hover {
      background-color: #6e3685;
      color: #fff;
      opacity: 0.8;
    }
  }
  ul.order_details {
    li {
      strong {
        margin-top: 8px;
        * {
          font-family: "Avenir-Heavy";
        }
      }
    }
  }
}
