.woocommerce-order-received {
  
  .woocommerce-thankyou-order-received {
    margin-bottom: 1rem;
  }

  .woocommerce-order-details__title,
  .woocommerce-column__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  address {
    padding: 1rem !important;
    line-height: 1.5rem;
  }
}

ul.woocommerce-thankyou-order-details {
  padding: 1em;
  background: white;

  > li {
    border-right: 1px solid #cfc8d8 !important;
    text-transform: initial !important;  
    font-size: 1em !important;

    strong {
      font-size: 1em !important;
      margin-top: .4em;
    }
  }
}

table.woocommerce-table--order-details {
  
  th {
    background: #f9f9f9;
  }

  th, td, p {
    font-size: 16px;
  }
}

p.order-again {
  text-align: right;

  a.button {
    padding: 12px 24px;
    color: white;
    border-radius: 1px;
    font-size: 16px;
    font-family: "Avenir-Medium";
    background: var(--accent-color);

    &:hover {
      opacity: .8;
      background: var(--accent-color);
      color: white;
    }
  }
}

.woocommerce-customer-details {

  address {
    background: white;
    border-radius: 1px !important;
    padding: 1em !important;
    line-height: 1.5em;
  }
}