:root {
  --site-container-width: 1400px;
  --site-container-spacing: 20px;
  --accent-color: #6e3685;
  --accent-color2: #A22F2C;
  --primary-font-normal: "Avenir-Roman";
  --primary-font-medium: "Avenir-Medium";
  --primary-font-heavy: "Avenir-Heavy";
}